*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato';
    font-size: 20px;
    background: url("https://cdn.pixabay.com/photo/2015/09/16/20/10/dough-943245_960_720.jpg") rgba(0, 0, 0, 0.4);
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: rgba(255, 255, 255, 0.877);
    background-blend-mode: color-dodge;
}


    h1 {
        text-align: center;
        margin-top: 1.5em;
        font-size: 4em;
        margin-bottom: 1.5em;
        
        
    }
    ul > li {
        margin: 2em;
        list-style: none;
        text-align: center;
    }

 a {
    
    text-decoration: none;
    font-size: 2.5em;
    color: rgba(255, 255, 255, 0.877);
    
 }
 a:hover {
    color: coral;
 }
